/* Font face */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



/* /////////////////////////////////////////// */
/* General code alle pages */

html {
    overflow-y: scroll;
}


body {
    margin: 15vw 10vw;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-style: normal;
    margin-bottom: 20vh;
    position: relative;
    max-width: 1500px;
}

header{
    margin-bottom: 15vh;
}

header p {
    max-width: 500px;
}

.bold {
    background-color: black;
    color: white;
}

nav{
    top: 1.5vh;
    right: 0;
    position: absolute;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.scrollMenu{
    position: fixed;
    background-color: white;
    width: 100vw;
    justify-content: right;
    padding: 3vh 10vw  3vh  10vw ;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 900;
}

h2 {
    margin: 0px;
    font-size: 35px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    border: 1px solid;
    padding: 6px 10px;
    cursor: pointer;
    color: black;
    font-weight: 500;
}

nav a:hover {
    background-color: black;
    color: white;
}

/*Filter*/
#filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}


#filter button {
    cursor: pointer;
    border: 1px solid;
    padding: 6px 10px;
    font-weight: 500;
    background-color: white;
    font-size: 1em;
}

#filter button:hover{
    background-color: black;
    color: white;
}

#filter .bold{
    background-color: black;
}

/* ////////////////////////////////// */

/* index styling */

#index section {
    display: grid;
    gap: 5%;
    grid-template-columns: 40% 55%;
}

#index section img {
    width: 100%;
    background-color: black;
    border: 1px solid;
}

#index section video{
    width: 100%;
}

#index .mobile {
    width: 40%;
    justify-self: center;
}

#index section div {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#index section div p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#index section a {
    text-decoration: none;
    border: 1px solid;
    padding: 6px 10px;
    cursor: pointer;
    color: black;
    font-weight: 500;
}

#index section a:hover {
    background-color: black;
    color: white;
}

#index .hide {
    display: none;
}


/* /////////////////////////// */
/* wie ben ik styling */


#profielFotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#about img{
    width: 100%;
}

/* Opleiding */
#opleidingen {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#opleidingen section{
display: flex;
gap: 20px;
}

#opleidingen section img{
    width: 10%;
    height: fit-content;
    align-self: center;     
}


/* opdrachtgevers */
#opdrachtgevers {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#opdrachtgevers section{
display: flex;
gap: 20px;
}

#opdrachtgevers section img{
    width: 10%;
    height: fit-content;
    align-self: center;     
}


/* Hobies */
#hobbies {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#hobbies section{
display: flex;
gap: 20px;
align-items: center;
}

#hobbies section img{
    width: 10%;
    height: fit-content;
    align-self: center;     
}


/* /////////////////////////////////////// */
/* Contact page styling */

#contact div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#contact-info a{
    text-decoration: none;
    border: 1px solid;
    padding: 6px 10px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    display: block;
}

#contact-info a:hover{
    background-color: black;
    color: white;
}



/* ///////////////////////////////////// */
/* Responsive styling */

@media screen and (max-width: 800px) {

    /* General styling */
    header {
        margin-bottom: 10vh;
    }

    /* Index styling */

    #index section {
        grid-template-columns: 100%;
    }
    
    #index .mobile{
        justify-self: left;
    }

}

@media screen and (max-width: 900px) {

    /* General styling */

    nav{
        position: relative;
        top: 0;
        margin-bottom: 10vh;
        gap: 5px;
        font-size: 0.9em;
    }

    .scrollMenu{
        justify-content: left;
        left: 0;
        right: none;
    }
}

